body{
    background: #e6e6e6;
}
a{
    text-decoration: none;
    color: #254336;
}

red{
    color:red;
}

th{
    border-right: 1px solid lightgrey;
}


.main{
    width:960px;
    margin: auto auto;
}

.wrap-card-chart{

    width: 720px;
    margin: auto auto;
    margin-top:100px;
}

.card-block{

    text-align: center;
    padding: 20px 0;

    border: 1px solid #254336;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    color: white;

    background: #254336;
}

.chart-block{
    padding: 10px;

    border: 1px solid #6B8A7A;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    background: white;
}

.wrap-chart{
    width: 720px;
    height: 360px;
    margin: auto auto;
}

.info-block{
    width: 720px;
    margin: auto auto;
    margin-top: 15px;

    background: white;
    border: 1px solid #6B8A7A;
    border-radius: 4px;
}

.info-block > hr{
    width: 90%;
    margin: auto auto;
}

#myChart {
    width: 100%; /* 차트를 부모 요소의 100% 너비로 설정 */
    height: auto; /* 높이는 자동으로 조정되도록 설정 */
    max-width: 600px; /* 최대 너비 설정 */
    margin: auto auto;
}

.wrap-btn-status-check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-status-check{
    color: white;
    background: #254336;
    border: 1px solid black;
    border-radius: 4px;

    width:50%;
    margin: 3px;
    padding: 5px 10px;
}

a{
    width: 50%;
    margin: 3px;
    padding: 5px 10px;
    border: 1px solid #254336;
    border-radius: 4px;
}

.wrap-link{

}


@media (max-width: 599px) {
    .main{
        width:100%;
        margin: auto auto;
    }

    .wrap-card-chart{

        width:360px;
        height:800px;
        margin: auto auto;
    }

    .card-block{
        margin-top: 20px;
        margin-bottom: 0;
        padding: 10px;
        width: 360px;
    }

    .chart-block{
        margin-top: 20px;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
    }

    .wrap-chart{
        width: 720px;
        height: 360px;
    }

    #myChart {
        margin-top: 390px;
        width: 720px !important;
        height: 360px !important;
        max-width: none;
        transform-origin: top center;
        transform: rotate(90deg);
    }

    .info-block{
        width: 360px;
        margin-bottom: 15px;
    }

    th, td{
        font-size: 14px;
    }
}